include readme.txt
include rservr/__init__.py
include src/admin-client.c
include src/client-timing.c
include src/client.c
include src/command-queue.c
include src/command-queue.h
include src/command-table.c
include src/command.c
include src/config-parser.c
include src/control-client.c
include src/detached-client.c
include src/label-check.c
include src/load-all.c
include src/load-all.h
include src/load-plugin.c
include src/log-output.c
include src/message-queue.c
include src/message-queue.h
include src/monitor-client.c
include src/python-macro.h
include src/remote-service.c
include src/request.c
include src/resource-client.c
include src/response.c
include src/rservr.c
include src/rservr.h
include src/rsvp-dataref-hook.c
include src/rsvp-dataref-thread.c
include src/rsvp-dataref.c
include src/rsvp-netcntl-hook.c
include src/rsvp-netcntl.c
include src/rsvp-passthru-assist.c
include src/rsvp-passthru-hook.c
include src/rsvp-passthru.c
include src/rsvp-ready-hook.c
include src/rsvp-ready.c
include src/rsvp-rqconfig-hook.c
include src/rsvp-rqconfig-thread.c
include src/rsvp-rqconfig.c
include src/rsvp-rqsrvc-auto.c
include src/rsvp-rqsrvc-hook.c
include src/rsvp-rqsrvc.c
include src/rsvp-trigger-hook.c
include src/rsvp-trigger.c
include src/service-client.c
include src/tools.c
